<!DOCTYPE html>
<html>
  <head>
    <title>Fruits</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        |
         <a href="/fruits">All Fruit</a>
        |
         <a href="/fruits/new">New Fruit</a>
        |
    </nav>